@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Noto+Sans+KR&display=swap');
* {
  font-family: 'Gaegu', sans-serif;
}

:root {
  font-size: 20px;
  --main-width: 320px;
  --black-color: #000;
  --white-color: #fcfcfc;
}
